.profile-card{
    width:250px;
    padding:50px;
    border-radius :20px;
    border-color: #333;
    border-style:groove;
    text-align:center;
    transition: background-color 3s;
    --button-hover-shadow: 0 4px 10px rgba(0, 0, 0,2);
    box-shadow: 0 4px 10px rgba(0, 0, 0,2);
    
}

button:hover{
    background-color: bisque;
    transform: scale(1.05);
    box-shadow: var(--button-hover-shadow);
}

.profile-card.light{
    background-color: #f9f9f9;
    color: #333;
    --button-hover-shadow: 0 4px 10px rgba(0, 0, 0,2);}    

.profile-card.dark{
    background-color: #333;
    color: #f9f9f9;
    --button-hover-shadow: 0 4px 10px rgba(255, 255, 255, 1);}


    
    
button{
    margin: 10px;
    padding: 10px;
    border-style:double;
    border-radius: 20px;
    cursor:pointer;
}


.contact-info{
    margin-top: 10px;
}

body {
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .profile-pic:hover {
    transform: scale(1.5);
    transition: transform 2s ;
  }